<% include header.ejs %>
<style type="text/css">
	body,html{
		margin: 0;
		padding:0;
		height: 100%;
		background-color: white;
	}
	div{
  		/*overflow: hidden;*/
	}
	.movie-information{
		width: 100%;
		height: auto;
		overflow-y:scroll;
		/*background-color: blue; */
		position: absolute;
		z-index: 1;
		top: 236px;
		background-color: #FAFAFA
	}
	.movie-information-title{
		position: fixed;
		top:0;
		width: 100%;
		height: 50px;
		background-color: white;
		line-height:50px;
		/*text-align: center;*/
		font-size: 22px;
		border-bottom: 1px solid #EAEAEA;
		z-index: 9999;
		/*display: none;*/
	}
	.title-name{
		float: left;
		font-size: 22px;
		height: 50px;
		line-height: 50px;
		margin-left: 69px;
		width: 120px;
		text-align: center;
		overflow: hidden;
	}
	.title-caidan{
		float: right;
		height: 50px;
		line-height: 50px;
		width: auto;
	}
	.save{
		font-size: 26px;
		margin-right: 3px;
	}
	.saved{
		font-size: 26px;
		margin-right: 3px;
		display: none;
	}
	.movie-information-photo {
		width: 100%;
		height:auto;
		/*background-color: red;*/
		top: 50px;
		position: fixed;
	}
	.movie-information-photo img{
		width: 100%;
		height: 180px;
		background-size: cover;
	}
	.movie{
		width: 100%;
		height: 100%;
		position: relative;
	}
	.movie-overview{
		margin-top: 5px;
		margin-left: 10px;
		margin-right: 10px;
		height: 31px;
		line-height: 31px;
		background-color: #F0F0F0;
		border-radius: 4px;
		padding: 0 10px;
	}
	.movie-information-introduction{}
	.movie-score{
		height: auto;
		width: auto;
		margin-left: 15px;
		margin-top: 5px;
	}
	.movie-introduce{
		height: auto;
		width: auto;
		margin-left: 15px;
		margin-top: 5px;
	}
	.movie-introduce li{
		margin-top: 5px;
	}
	.movie-cast{
		height: auto;
		width: auto;
		margin-left: 15px;
		margin-top: 5px;
		margin-right: 15px;
	}
	.movie-cast li{
		margin-top: 5px;
	}
	.movie-cast-title{
		height: auto;
		width: 44px;
	}
	.movie-cast-details{
		height: auto;
		margin-left: 36px;
		overflow:hidden;
	}
	.return{
		float: left;
		margin-left: 13px;
		font-size: 15px;
	}
	.add-height{
		height: 45px;
	}
	#save{
		font-size: 20px;
	}
	</style>
<body>
<div class="movie">
	<div class="movie-information-title">
		<a class="return-MainPage">
			<div class="iconfont icon-fanhui return"></div>
		</a>
		<div class="title-name" data-name="<%= movieDetail.name %>">
			<%= movieDetail.name %></div>
			<a class="title-caidan">
				<div class="iconfont icon-shoucang save"></div>
				<div class="iconfont icon-shoucang1 saved"></div>
			</a>
	</div>
	<div class="movie-information-photo">
		<img src="<%= poster %>"></div>
	<div class="movie-information">
		<div class="movie-overview">概览</div>
		<div class="movie-information-introduction">
			<div class="movie-score">
				评分：
				<%= movieDetail.star %></div>
			<div class="movie-introduce">
				<ul>
					<% for(var key in movieDetail.detail) {%>
					<li>
						<div class="movie-cast-title">
							<%=key%>:</div>
						<div class="movie-cast-details">
							<%= movieDetail.detail[key] %></div>
					</li>
					<% } %></ul>
			</div>
			<div class="movie-cast">
				<ul>
					<% for(var key in movieDetail.cast) {%>
					<li>
						<div class="movie-cast-title">
							<%=key%></div>
						<div class="movie-cast-details">
							<%= movieDetail.cast[key] %>
						</div>
					</li>
					<% } %></ul>
			</div>
		</div>
	</div>
</div>
<div class="ui-actionsheet">  
  <div class="ui-actionsheet-cnt">
    <h4 id="save">收藏</h4> 
    <button class="submite-price" data-price="15">15以下</button>
    <button class="submite-price" data-price="25">25以下</button>
    <button class="submite-price" data-price="35">35以下</button>  
   <!--  <button class="ui-actionsheet-del">删除</button> -->
    <button class="cancel">取消</button> 
  </div>         
</div>
<% include footer.ejs %>
<script type="text/javascript">
		var data = {
			id : "<%= id %>"
		}
		$.ajax({
			type : "POST",
			data: data,
			dataType: "json",
			url : "/price",
			success : function(result){
				console.log(result);
				var ul = '';
				for(var i = 0; i < result.length; i++){
					var li = '';
					for(var j = 0; j < result[i].dailySchedules.length; j++){
						li += '<li>'+result[i].dailySchedules[j].start+'-'+result[i].dailySchedules[j].end+' 售价：'+result[i].dailySchedules[j].price+'</li>';
					}
					ul+='<ul><li>'+result[i].dateText+'</li>'+li+'</ul>';
				}
				$(".price").append(ul);
			},
			error: function(error){			
			}
		})
		$(".return-MainPage").click(function(){
			history.go(-1);
		})
		$(".movie-cast-details").each(function(i,v){
		    var length = $(".movie-cast-details").height();
		      if(length>44)
		          {
			           $(this).addClass("add-height");
		          }
		})
		$(".save").click(function(){
			$('.ui-actionsheet').addClass('show');
		})
		$(".cancel").click(function(){
			$('.ui-actionsheet').removeClass('show');
		})
		$(".submite-price").click(function(){
			$(".save").hide();
			$(".saved").show();
			$('.ui-actionsheet').removeClass('show');
			var prices = $(this).attr("data-price");
			console.log(prices);
			var names = $(".title-name").attr("data-name");
			console.log(names);
		var data ={
	        'name':'names',
	        'price':prices
	      }
	        $.ajax({
	          type : "POST",
	          data: data,
	          dataType: "json",
	          url : "/attention",
	          success : function(result){
	            console.log("收藏成功");
	          },
	          error: function(error){
	            // alert(error);
	            console.log("error");
	            window.location.href="/signin";
	          }
	        });
	        })
	</script>
</html>