<% include header.ejs %>
<style type="text/css">
	body,html{
		margin: 0;
		padding:0;
		height: 100%;
		background-color: white;
	}
	div{
  		/*overflow: hidden;*/
	}
	.movie-information{
		width: 100%;
		height: auto;
		overflow-y:scroll;
		/*background-color: blue; */
		position: absolute;
		z-index: 1;
		top: 300px;
	}
	.movie-information-title{
		position: fixed;
		top:0;
		width: 100%;
		height: 50px;
		background-color: white;
		line-height:50px;
		text-align: center;
		font-size: 18px;
		border-bottom: 1px solid #EAEAEA;
		z-index: 9999;
		/*display: none;*/
	}
	.movie-information-photo {
		width: 100%;
		height:auto;
		/*background-color: red;*/
		top: 50px;
		position: fixed;
	}
	.movie-information-photo img{
		width: 100%;
		height: 250px;
		background-size: cover;
	}
	.movie{
		width: 100%;
		height: 100%;
		position: relative;
	}
	.movie-information-introduction{
		/*font-size: 50px;*/
		/*background-color: blue;*/
	}
	</style>
<body>
<div class="movie">
	<div class="movie-information-title">电影</div>
	<div class="movie-information-photo"></div>
	<div class="movie-information">
		<div class="movie-information-introduction">
			<div>
			<%= movieDetail.name %>
		</div>
		<div>
			<%= movieDetail.star %>
		</div>
		<div>
			<ul>
				<% for(var key in movieDetail.detail) {%>
					<li><%= key %>:<%= movieDetail.detail[key] %></li>
				<% } %>
			</ul>
		</div>
		<div>
			<ul>
				<% for(var key in movieDetail.cast) {%>
					<li><%= key %>:<%= movieDetail.cast[key] %></li>
				<% } %>
			</ul>
		</div>
		</div>
	</div>
</div>
<% include footer.ejs %>
<script type="text/javascript">
<script type="text/javascript">
		var data = {
			id : "<%= id %>"
		}
		$.ajax({
			type : "POST",
			data: data,
			dataType: "json",
			url : "/price",
			success : function(result){
				console.log(result);
				var ul = '';
				for(var i = 0; i < result.length; i++){
					var li = '';
					for(var j = 0; j < result[i].dailySchedules.length; j++){
						li += '<li>'+result[i].dailySchedules[j].start+'-'+result[i].dailySchedules[j].end+' 售价：'+result[i].dailySchedules[j].price+'</li>'
					}
					ul+='<ul><li>'+result[i].dateText+'</li>'+li+'</ul>';
				}
				$(".price").append(ul);
			},
			error: function(error){
			}
		})
	</script>
</html>