<% include header.ejs %>
<style type="text/css">
	body,html{
		margin: 0;
		padding:0;
		height: 100%;
		background-color: white;
	}
	div{
  		/*overflow: hidden;*/
	}
	.content{
		/*background-color: gray;*/
	}
	.announce-content{
		bottom:0;
		/*overflow-y: scroll !important;*/
		height: 90%;
		width: 100%;
		box-sizing: border-box;
		/*padding:0 5px;*/
		background-color: #F3F3F3;
	}
	.text-content{
		display: block;
		border:0;
		height: 100px;
		font-size: 18px;
		width: 100%;

		position: absolute;
		text-align: center;
		top:50%;
		margin: 0px;
		margin-top: -100px;
	}
	.arrow{
		background-image: url("./img/arrow.svg");
		position:absolute;
		width: 40px;
		height:40px;
		bottom:30px;
		right:20px;
	}
	/****************反馈ui*******************/
	.error-tip{
		width: 80%;
		color:white;
		margin:40px auto;
	}
	.thanks-tip{
		width: 80%;
		text-align: center;
		color:white;
		margin:40% auto;
	}
	.error-input{
		display: block;
		border: 0;
		border-radius: 4px;
		width: 80%;
		padding:10px 10px;
		margin: 0 auto;
	}
	.submit-button{
		width: 60%;
		padding:12px;
		color: white;
		margin: 50px auto;
		text-align: center;
		border-radius: 5px;
		background-color: #5287E8;
	}
	#share-tip-dialog{
		background: rgba(0, 0, 0, 0.8);
	}
	.share-tip-content{
		width: 80%;
		text-align: center;
		color:white;
		margin:40% auto;
	}
	.big{
		font-size: 20px;
		font-weight: bold;
	}
	.small{
		font-size: 10px;
		color:#30B7F7;
	}
	.play-content{
		width: 80px;
		height: 80px;
		margin:0 auto;
		margin-top: 50px;
		box-shadow: 0px 0px 20px #D8D8D8;
    	border-radius: 10px;
    	text-align: center;
	}
	.play,.stop{
		width: 50px;
		height: 50px;
		margin:0 auto;
		font-size: 40px;
		color: white;
		line-height: 80px;
		text-align: center;
	}
	.play-active{
		display: block;
	}
	.do{
		position: fixed;
		height: 50px;
		color: white;
		bottom: 0;
		width: 100%;
		line-height: 50px;
		text-align: center;
	}
	.do{
	    background: -moz-linear-gradient(top, #DB5957 0%, #EEA068 100%);
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DB5957), color-stop(100%,#EEA068));
	    background: -webkit-linear-gradient(top, #DB5957 0%,#EEA068 100%);
	    background: -o-linear-gradient(top, #DB5957 0%,#EEA068 100%);
	    background: -ms-linear-gradient(top, #DB5957 0%,#EEA068 100%);
	    background: linear-gradient(to bottom, #DB5957  0%,#EEA068  100%);
	    opacity: 0.9;
	}
	.content{
		/*background: url("/img/3-6-1.jpg");*/
		/*background-size: cover;*/
		height: 100%;
		width: 100%;
		/*overflow: hidden;*/
	}
	.announce-ul{
		width: 100%;
		box-sizing: border-box;
		/*padding:10px;*/
	}
	.announce-li{
		/*width: 100%;*/
		width: 90%;
		background-color: white;
		margin: 0 auto;
		height: 90px;
		margin-top: 10px;
		border-radius: 5px;
		border: 1px solid white;
	}
	.announce-time{
		font-size: 12px;
		padding-left: 20px;
		color: #9E9A9A;
	}
	.announce-title{
		padding:10px 0 5px 20px;
		color: #000000;
		font-weight: bold;
		height: 45px;
		overflow: hidden;
		text-overflow:ellipsis;
		/*white-space: nowrap;*/
	}
	.well-received{
		/*display: none;*/
		/*background-color: red;*/
		height: 100%;
		width: 100%;
	}
	.well-received-title{
		position: fixed;
		top:0;
		width: 100%;
		height: 50px;
		background-color: white;
		line-height:50px;
		text-align: center;
		font-size: 18px;
		border-bottom: 1px solid #EAEAEA;
		z-index: 9999;
	}
	.well-received-content{
		width: 100%;
		height: auto;
		background-color: #F3F3F3;
		overflow-y: scroll !important;
		margin-top: 10px;
		margin-bottom: 50px;
		overflow-x: hidden;
	}
	.well-received-movies{
		height: auto;
		width: 50%;
		text-align: center;
		/*background-color: white;*/
		box-sizing: border-box;
		float: left;
		/*display: inline-block;*/
	}
	.well-received-movies-name{
		width: 100%;
		height: 30px;
		box-sizing: border-box;
		padding: 0 10px;
		font-size: 15px;
		line-height: 30px;
		text-align: center;
		white-space:nowrap; 
		text-overflow:ellipsis; 
		-o-text-overflow:ellipsis; 
		overflow: hidden; 
	}
	.well-received-movies-photo{
		width: 100%;
		/*box-sizing: border-box;
		margin:0 5px;*/
		height: auto;
		/*background-size: cover;*/
	}
	.well-received-movies-photo img{
		position: relative;
		width: 100%;
		height:212px;
		background-size: cover;
		/*width: 90%;*/
	}
	.watched{
		display: none;
		/*background-color: white;*/
		height: 100%;
		width: 100%;
	}
	.watched-title{
		position: fixed;
		top:0;
		width: 100%;
		height: 50px;
		background-color: white;
		line-height:50px;
		text-align: center;
		font-size: 18px;
		border-bottom: 1px solid #EAEAEA;
		z-index: 9999;
		display: none;
	}
	.watched-content{
		width: 100%;
		height: auto;
		background-color: #F3F3F3;
		overflow-y: scroll !important;
		margin-top: 10px;
		margin-bottom: 50px;
		overflow-x: hidden;
	}
	.watched-movies{
		height: auto;
		width: 50%;
		/*background-color: red;*/
		float: left;
		box-sizing: border-box;
		text-align: center;
	}
	.watched-movies-name{
		width: 100%;
		height: 30px;
		box-sizing: border-box;
		padding: 0 10px;
		font-size: 15px;
		line-height: 30px;
		text-align: center;	
		white-space:nowrap;	
		text-overflow:ellipsis; 
		-o-text-overflow:ellipsis; 
		overflow: hidden;
	}
	.watched-movies-photo{
		width: 100%;
		height: auto;
		/*background-size: cover;*/
	}
	.watched-movies-photo img{
		position: relative;
		width: 100%;
		height:212px;
		background-size: cover;
		/*width: 90%;*/
	}
	.collect{
		display: none;
		/*background-color: black;*/
		height: 100%;
		width: 100%;
	}
	.collect-title{
		position: fixed;
		top:0;
		width: 100%;
		height: 50px;
		background-color: white;
		line-height:50px;
		text-align: center;
		font-size: 18px;
		border-bottom: 1px solid #EAEAEA;
		z-index: 9999;
		display: none;
	}.collect-content{
		width: 100%;
		height: auto;
		background-color: #F3F3F3;
		overflow-y: scroll !important;
		margin-top: 10px;
		margin-bottom: 50px;
		overflow-x: hidden;
	}
	.collect-movies{
		height: auto;
		width: 50%;
		/*background-color: red;*/
		float: left;
		box-sizing: border-box;
		text-align: center;
	}
	.collect-movies-name{
		width: 100%;
		height: 30px;
		box-sizing: border-box;
		padding: 0 10px;
		font-size: 15px;
		line-height: 30px;
		text-align: center;	
		white-space:nowrap;	
		text-overflow:ellipsis; 
		-o-text-overflow:ellipsis; 
		overflow: hidden;
	}
	.collect-movies-photo{
		width: 100%;
		height: auto;
		/*background-size: cover;*/
	}
	.collect-movies-photo img{
		position: relative;
		width: 100%;
		height:212px;
		background-size: cover;
		/*width: 90%;*/
	}
	.button-li{
		position: fixed;
		bottom:0;
		height: 50px;
		width: 100%;
		background-color: white;
		box-sizing: border-box;
		border-top: 1px solid #EAEAEA;
		/*border-top-color: black;*/
	}
	.icon-sytx{
		float: left;
		width: 33%;
		font-size: 20px;
		margin-top: 7px;
		color: black;
		line-height: 21px;
		vertical-align: middle;
		margin-top: 10px;
		text-align: center;
	}
	.icon-zititubiao19{
		float: left;
		width: 33%;
		font-size: 30px;
		color: black;
		line-height: 21px;
		vertical-align: middle;
		margin-top: 10px;
		text-align: center;
	}
	.icon-retui{
		float: left;
		width: 33%;
		font-size: 29px;
		color: black;
		line-height: 21px;
		vertical-align: middle;
		margin-top: 10px;
		text-align: center;
	}
	.li-active{
		color: 	#616161;
	}
	.button-word{
		font-size: 10px;
		height: 100%;
		width: 100%;
		text-align:center;
	}
	.word-align{
		text-align:center;
	}
	.well-hide{
		height: 50px;
		width: 100%;
	}
	.well-received-movies-page{
		margin: 0 5px 10px 5px;
		background-color: white;
	}
</style>
<body>
<div class="ui-loading-block show">
    <div class="ui-loading-cnt">
        <i class="ui-loading-bright"></i>
        <p>正在加载中...</p>
    </div>
</div>

<div class="content">
	<div class="well-received-title">热映</div>
	<div class="announce-content">
		<div class="well-received">
			<div class="well-received-content">
				<div class="well-hide">彩蛋</div>
				<% for(var i = 0; i < results.length ;i++ ){ %>
				<%if(results[i].attributes.type == "showing"){%>
				<div class="well-received-movies">
					<div class="well-received-movies-page">
						<div class="well-received-movies-photo">
							<a class="movies" data-mid="<%=results[i].attributes.mid%>">
								<img src="<%=results[i].attributes.img%>"></a>
						</div>
						<div class="well-received-movies-name">
							<%=results[i].attributes.name%></div>
					</div>
				</div>
				<%}%>
				<%}%></div>
		</div>
		<div class="watched-title">待映</div>
		<div class="announce-content">
			<div class="watched">
				<div class="watched-content">
					<div class="well-hide">彩蛋</div>
					<% for(var i = 0; i < results.length ;i++ ){ %>
					<%if(results[i].attributes.type == "upcoming"){%>
					<div class="watched-movies">
						<div class="well-received-movies-page">
							<div class="watched-movies-photo">
								<a class="movies" data-mid="<%=results[i].attributes.mid%>">
									<img src="<%=results[i].attributes.img%>"></a>
							</div>
							<div class="watched-movies-name">
								<%=results[i].attributes.name%></div>
						</div>
					</div>
					<%}%>
					<%}%></div>
			</div>
			<div class="collect-title">关注</div>
			<div class="announce-content">
			<div class="collect" data-email="<%= email%>">
				<div class="collect-content">
					<div class="well-hide">彩蛋</div>
					<% for(var i = 0; i < attentionData.length ;i++ ){ %>
					<div class="collect-movies">
						<div class="well-received-movies-page">
							<div class="collect-movies-photo">
								<a class="movies" data-mid="<%=attentionData[i].mid%>">
									<img src="<%=attentionData[i].img%>"></a>
							</div>
							<div class="collect-movies-name">
								<%=attentionData[i].name%></div>
						</div>
					</div>
					<%}%>
					</div>
			</div>
		</div>
		<div class="button-li">
			<div class="iconfont icon-retui li-active word-align">
				<a></a>
				<div class="button-word">热映</div>
			</div>
			<div class="iconfont icon-sytx">
				<a></a>
				<div class="button-word">待映</div>
			</div>
			<div class="iconfont icon-zititubiao19 word-align">
				<a></a>
				<div class="button-word">关注</div>
			</div>
		</div>
	</div>
</div>
<% include footer.ejs %>
<script type="text/javascript">
	$(".icon-retui").click(function(){
		$(this).addClass("li-active");
		$(".icon-zititubiao19").removeClass("li-active");
		$(".icon-sytx").removeClass("li-active");
		$(".well-received").show();
		$(".well-received-title").show();
		$(".watched-title").hide();
		$(".watched").hide();
		$(".collect").hide();
		$(".collect-title").hide();
	})
	$(".icon-sytx").click(function(){
		$(this).addClass("li-active");
		$(".icon-retui").removeClass("li-active");
		$(".icon-zititubiao19").removeClass("li-active");
		$(".watched").show();
		$(".watched-title").show();
		$(".well-received-title").hide();
		$(".well-received").hide();
		$(".collect").hide();
		$(".collect-title").hide();
	})
	$(".icon-zititubiao19").click(function(){
		$(this).addClass("li-active");
		$(".icon-sytx").removeClass("li-active");
		$(".icon-retui").removeClass("li-active");
		$(".collect").show();
		$(".collect-title").show();
		$(".watched").hide();
		$(".watched-title").hide();
		$(".well-received").hide();
		$(".well-received-title").hide();
		var email = $(".collect").attr("data-email");
		console.log(email);
		// alert(email);
		if(email == null)
		{
			window.location.href="/signin";
		}
	})
	$(".movies").click(function(){
		var mid=$(this).attr("data-mid");
		console.log(mid);
		window.location.href = "/detail/"+mid;
		$(".ui-loading-block").addClass("show");
	})
	window.onload=function()//用window的onload事件，窗体加载完毕的时候
	{
   		$(".ui-loading-block").removeClass("show");
	}
	</script>
</html>